extends layout

block layout-content
  div.content
    h1.page-title 
    img.background-image#billboard(src="/images/BraceletsCategoryda12.jpg", alt="A woman wearing a bracelet")

    div.row.list_manage
      div.inner.clearfix
        form.form_sort(action="#" method="post")
        div
          h6.manage_title Sort by: 
            select.select_styled.white_select#sort_list(name="sort_list")
              option(value="1" data-sort="ladd") Most Popular
              option(value="2" data-sort="ladd") Latest Added
              option(value="3" selected="" data-sort="price") Price High - Low
              option(value="4" data-sort="loc") Price Low - High

    div.row.mt-5.Bracelets
      div.col-sm-6.col-md-4.col-lg-3.mt-3.category
        div.thumbnail
          a(aria-current="page", href="/Bracelets")
            img.prod(src="/images/nati-melnychuk-oO0JAOJhquk-unsplash.jpg", alt="Bracelet")   
            div.caption
            h4.Thumbnail.mt-2 B001
            p.price $65 CAD
          button.btn.btn-light.stayBtn(type="submit") Add to Bag  

      div.col-sm-6.col-md-4.col-lg-3.mt-3.category
        div.thumbnail
          a(aria-current="page", href="/Bracelets")
            img.prod(src="/images/jonathan-sanchez-Ahxw0gICnKw-unsplash.jpg", alt="Bracelet")
            div.caption
            h4.Thumbnail.mt-2 B002
            p.price $65 CAD
          button.btn.btn-light.stayBtn(type="submit") Add to Bag
          
      div.col-sm-6.col-md-4.col-lg-3.mt-3.category
        div.thumbnail
          a(aria-current="page", href="/Bracelets")
            img.prod(src="/images/joeyy-lee-onU-LlrPs8I-unsplash.jpg", alt="Bracelet")
            div.caption
            h4.Thumbnail.mt-2 B003
            p.price $65 CAD
          button.btn.btn-light.stayBtn(type="submit") Add to Bag

      div.col-sm-6.col-md-4.col-lg-3.mt-3.category
        div.thumbnail
          a(aria-current="page", href="/Bracelets")
            img.prod(src="/images/sandi-benedicta-BYq2uAzpRak-unsplash.jpg", alt="Bracelet")
            div.caption
            h4.Thumbnail.mt-2 B004
            p.price $65 CAD
          button.btn.btn-light.stayBtn(type="submit") Add to Bag            

      div.col-sm-6.col-md-4.col-lg-3.mt-3.category
        div.thumbnail
          a(aria-current="page", href="/Bracelets")
            img.prod(src="/images/sama-hosseini-h_ssRPj8UZo-unsplash.jpg", alt="Bracelet")
            div.caption
            h4.Thumbnail.mt-2 B005
            p.price $65 CAD
          button.btn.btn-light.stayBtn(type="submit") Add to Bag

      div.col-sm-6.col-md-4.col-lg-3.mt-3.category
        div.thumbnail
          a(aria-current="page", href="/Bracelets")
            img.prod(src="/images/kylefromthenorth-5X2jJZXmbFw-unsplash.jpg", alt="Bracelet")
            div.caption
            h4.Thumbnail.mt-2 B006
            p.price $65 CAD
          button.btn.btn-light.stayBtn(type="submit") Add to Bag

      div.col-sm-6.col-md-4.col-lg-3.mt-3.category
        div.thumbnail
          a(aria-current="page", href="/Bracelets")
            img.prod(src="/images/jonathan-sanchez-qM85fmCeyC0-unsplash.jpg", alt="Bracelet")
            div.caption
            h4.Thumbnail.mt-2 B007
            p.price $65 CAD
          button.btn.btn-light.stayBtn(type="submit") Add to Bag

      div.col-sm-6.col-md-4.col-lg-3.mt-3.category
        div.thumbnail
          a(aria-current="page", href="/Bracelets")
            img.prod(src="/images/ruan-richard-i1RUvcC6UnA-unsplash.jpg", alt="Bracelet")
            div.caption
            h4.Thumbnail.mt-2 B008dg
            p.price $65 CAD
          button.btn.btn-light.stayBtn(type="submit") Add to Bag
      div.col-sm-6.col-md-4.col-lg-3.mt-3.category
        div.thumbnail
          a(aria-current="page", href="/Bracelets")
            img.prod(src="/images/ethan-chan-nFJqPHdWLxA-unsplash.jpg", alt="Bracelet")
            div.caption
            h4.Thumbnail.mt-2 B009
            p.price $65 CAD
          button.btn.btn-light.stayBtn(type="submit") Add to Bag

      div.col-sm-6.col-md-4.col-lg-3.mt-3.category
        div.thumbnail
          a(aria-current="page", href="/Bracelets")
            img.prod(src="/images/jutta-wilms-a0r2nyk31SE-unsplash.jpg", alt="Bracelet")
            div.caption
            h4.Thumbnail.mt-2 B010
            p.price $65 CAD
          button.btn.btn-light.stayBtn(type="submit") Add to Bag

      div.col-sm-6.col-md-4.col-lg-3.mt-3.category
        div.thumbnail
          a(aria-current="page", href="/Bracelets")
            img.prod(src="/images/joeyy-lee-hXhMzWysB8s-unsplash.jpg", alt="Bracelet")
            div.caption
            h4.Thumbnail.mt-2 B011
            p.price $65 CAD
          button.btn.btn-light.stayBtn(type="submit") Add to Bag

      div.col-sm-6.col-md-4.col-lg-3.mt-3.category
        div.thumbnail
          a(aria-current="page", href="/Bracelets")
            img.prod(src="/images/joeyy-lee-69wZpIbgMgE-unsplash.jpg", alt="Bracelet")
            div.caption
            h4.Thumbnail.mt-2 B012
            p.price $65 CAD
          button.btn.btn-light.stayBtn(type="submit") Add to Bag