extends layout

block layout-content
  div.content.container
    h1.page-title 
    img.background-image(src="/images/saeed-anahid--GhLgB-oXNw-unsplash.jpg", alt="A woman wearing jwellery")
  div.container 
    h2.page-title.mt-5 New Collections 
    div.row.mt-5
      div.col-sm-6.col-md-4.mt-3
        div.thumbnail.thumbnailColl
          a(aria-current="page", href="#")
            img(src="/images/joeyy-lee-icaMXt5-Gyk-unsplash.jpg", alt="bracelet")
            div.caption
            h3.Thumbnail.mt-2 Eye
          
      div.col-sm-6.col-md-4.mt-3
        div.thumbnail.thumbnailColl
          a(aria-current="page", href="#")
            img(src="/images/laurissi-4RkSsYzxTps-unsplash.jpg", alt="ring")
            div.caption
            h3.Thumbnail.mt-2 Valentine
          
      div.col-sm-12.col-md-4.mt-3
        div.thumbnail.thumbnailColl
          a(aria-current="page", href="#")
            img(src="/images/content-pixie-Hn4a5FahB8M-unsplash.jpg", alt="necklace")
            div.caption
            h3.Thumbnail.mt-2 Coin
          

    h2.page-title.mt-5 Shop by Category 
    div.row.mt-5
      div.col-sm-6.col-md-3.mt-3
        div.thumbnail
          a(aria-current="page", href="/Rings")
            img(src="/images/kate-hliznitsova-pjrPWwwYx1I-unsplash.jpg", alt="A woman wearing a ring")
            div.caption
            h3.Thumbnail.mt-2 Rings
          
      div.col-sm-6.col-md-3.mt-3
        div.thumbnail
          a(aria-current="page", href="/Necklaces")
            img(src="/images/jasmin-chew-WKD2vIe8Rb0-unsplash.jpg", alt="a woman wearing a necklace")
            div.caption
            h3.Thumbnail.mt-2 Necklaces
          
      div.col-sm-6.col-md-3.mt-3
        div.thumbnail
          a(aria-current="page", href="/Bracelets")
            img(src="/images/kylefromthenorth-5X2jJZXmbFw-unsplash.jpg", alt="a woman wearing a bracelet")
            div.caption
            h3.Thumbnail.mt-2 Bracelets
          
      div.col-sm-6.col-md-3.mt-3
        div.thumbnail
          a(aria-current="page", href="/Earrings")
            img(src="/images/kate-hliznitsova-P6NiFTyI294-unsplash.jpg", alt="a woman wearing earrings")
            div.caption
            h3.Thumbnail.mt-2 Earings
          